<!DOCTYPE html>
<html>
    <head>
        <title>Is Sebalon a Nerd?</title>
        <style>
            h1 {
                text-align: center;
                font-size: 5em;
            }
        </style>
    </head>
    <body>
        <h1>YES.</h1>
    </body>
</html>